@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./font.css");

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  /* width: 100%; */
  height: 100%; 
  background-color: #008EFF;
}
 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body {
  min-height: 100vh;
} */

#root {
  height: 100%;
  /* background-color: black; */
  width: 100%;
  /* min-height: 100vh; */
  min-height: 100vh;
  /* min-width: 100vw; */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
