@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

@layer base {
	@font-face {
		font-family: 'Agrandir';
		src:url('./assets/fonts/Agrandir/Agrandir-Regular.otf')  
	}

	@font-face {
		font-family: 'AgrandirGrandHeavy';
		src:url('./assets/fonts/Agrandir/Agrandir-GrandHeavy.otf')
	}

  /* @font-face {
    font-family: 'Fredoka';
    src:url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap')
  } */
}

body {
	margin: 0;
  font-family: 'Fredoka', sans-serif;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	/* width: 100%; */
	height: 100%;
	background-color: #008eff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	height: 100%;
	width: 100%;
	min-height: 100vh;
}
